# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\yidin\OneDrive\01_Life\Udacity_SelfDrivingCarTerm1\07_ConvolutionalNeuralNetworks\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
